<style>
	.is-active {
		background:orange;
	}
</style>
<div
	class="pc-panel"
	data-ng-class="activeClass(question)"
	data-ng-click="makeActive(question)">

    <h2 class="pc-main-title">Proppycock</h2>
	<p class="pc-intro">
		<b>Property descriptions</b> are a load of <strong>poppycock</strong>.
		Poke fun and create a <em>Proppycock</em> description for your property
		and share with the world.
	</p>
	<a class="pc-button">Begin &gt;</a>
</div>

<ul>
	<li class="pc-question"
		data-ng-repeat="question in model.questions"
		data-question-number="{{ $index }}">

		<div
			class="pc-panel"
			data-ng-class="activeClass(question)"
			data-ng-click="makeActive(question)">

			<h3>{{ question.question }}</h3>

			<ul>
				<li
					class="pc-answer"
					data-ng-repeat="answer in question.answers"
					data-answer="{{ $index }}">
						{{ answer }}
				</li>
			</ul>
		</div>
		<div class="pc-sub-questions">

			<ul>
				<li
					class="pc-question pc-sub-question"
					data-ng-repeat="subQuestion in question.subQuestions"
					data-sub-question-number="{{ $index }}">

					<div
						class="pc-panel"
						data-ng-class="activeClass(subQuestion)"
						data-ng-click="makeActive(subQuestion)">

						<h3>{{ subQuestion.question }}</h3>
						<ul>
							<li
								class="pc-answer"
								data-ng-repeat="answer in subQuestion.answers"
								data-sub-question-answer="{{ $index }}">
									{{ answer }}
							</li>
						</ul>

					</div>
				</li>
			</ul>
		</div>

	</li>
</ul>
