<div class="pc-panel">
    <h2 class="pc-main-title">Proppycock</h2>
	<p class="pc-intro">
		<b>Property descriptions are a load of <b>poppycock</strong>.
		Poke fun and create a Proppycock description for your property
		and share with the world.
	</p>
	<a class="pc-button">Begin &gt;</a>
</div>

<ul>
	<li class="pc-panel pc-question" data-ng-repeat="question in model.questions" data-question-number="{{ $index + 1 }}">
		<h3>{{ question.question }}</h3>
		<ul>
			<li data-ng-repeat="answer in question.answers" class="pc-answer" data-answer="{{ $index + 1 }}"> {{ answer }}</li>
		</ul>
	</li>
</ul>
